<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ir.tildaweb.tildachat">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:label="TildaChat"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.chatroom_messaging.ChatroomMessagingActivity" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />

        <service
            android:name=".services.TildaChatCommunicationService"
            android:stopWithTask="false" />

        <service
            android:name=".services.TildaChatNotificationService"
            android:stopWithTask="false" />

        <receiver
            android:name=".services.TildaFileUploaderForegroundService$CancelUploaderReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="CancelUploader" />
            </intent-filter>
        </receiver>

        <!--        <provider-->
        <!--            android:name="androidx.core.content.FileProvider"-->
        <!--            android:authorities="ir.tildaweb.tildachat.myprovider"-->
        <!--            android:exported="false"-->
        <!--            android:grantUriPermissions="true">-->
        <!--            <meta-data-->
        <!--                android:name="android.support.FILE_PROVIDER_PATHS"-->
        <!--                android:resource="@xml/provider_paths" />-->
        <!--        </provider>-->

    </application>
</manifest>